h3=l('title_txt_technologie')
div(id='circles')
div(id='mobile')
	table
		for section, idx in view.mobileSections
			tr(data-idx=idx)
				td=section.value
				td=section.label
			if (section.descr)
				tr
					td
					td=section.descr