
.btn-group.btn-group-lg
	each aFakeCanton in fakeCantons
		button(value=aFakeCanton, class={active: aFakeCanton==canton}, class='fake btn btn-default')=window.i18n.l('region_txt_'+aFakeCanton)
.btn-group
	each aCanton in cantons1
		button(value=aCanton, class={active: aCanton==canton}, class='btn btn-default', data-toggle='tooltip', title=window.i18n.l('region_txt_'+aCanton))=aCanton
.btn-group
	each aCanton in cantons2
		button(value=aCanton, class={active: aCanton==canton}, class='btn btn-default', data-toggle='tooltip', title=window.i18n.l('region_txt_'+aCanton))=aCanton