h4 Überwachung #{year}
table.table.small
	tr.art-aktiv
		th=window.i18n.l('TYP_TXT_AKTIV')
		td=activ
	tr.art-techadm
		th=window.i18n.l('TYP_TXT_TECHADM')
		td=techadm
	tr.art-vds
		th=window.i18n.l('TYP_TXT_VDS')
		td=vds
	tr
		th=window.i18n.l('TYP_TXT_TELEFONBUCH')
		td=telefonbuch
