h3=window.i18n.l('title_txt_art')
table.table
	tr
		th=view.total.i18n
		td.text-right=numeral(view.total.value).format()
	for item in view.keyValues
		tr
			th=item.i18n
			td.text-right=numeral(item.value).format()