h2 Schwere Straftaten
table.table
	tr
		th Total
		td.text-right=numeral(total).format()
		td=''
	tr
		th Terror
		td.text-right=numeral(terror).format()
		td='('+terrorProzent+' %)'
	tr
		th P채do-Kriminalit채t
		td.text-right=numeral(paedo).format()
		td='('+paedoProzent+' %)'
	tr
		th Org. Kriminalit채t
		td.text-right=numeral(krimorg).format()
		td='('+krimorgProzent+' %)'
	tr
		th Menschenhandel
		td.text-right=numeral(menschenhandel).format()
		td='('+menschenhandelProzent+' %)'
	tr
		th Nachrichtendienst
		td.text-right=numeral(nachrichtendienst).format()
		td='('+nachrichtendienstProzent+' %)'
	tr
		th Geldw채sche
		td.text-right=numeral(geldwaesche).format()
		td='('+geldwaescheProzent+' %)'