h2 Schwere Straftaten
table.table
	tr
		th Total
		td.text-right=numeral(view.total).format()
		td=''
	if view.sectionValues
		for section, idx in view.sectionValues
			tr
				th=section.key
				td.text-right=section ? numeral(section.number).format() : ''
				td (#{section ? section.prozent : ''}%)