h2 Schwere Straftaten
table.table
	tr
		th Total
		td=total
		td=''
	tr
		th Terror
		td=terror
		td='('+terrorProzent+' %)'
	tr
		th P채do-Kriminalit채t
		td=paedo
		td='('+paedoProzent+' %)'
	tr
		th Org. Kriminalit채t
		td=krimorg
		td='('+krimorgProzent+' %)'
	tr
		th Menschenhandel
		td=menschenhandel
		td='('+menschenhandelProzent+' %)'
	tr
		th Nachrichtendienst
		td=nachrichtendienst
		td='('+nachrichtendienstProzent+' %)'
	tr
		th Geldw채sche
		td=geldwaesche
		td='('+geldwaescheProzent+' %)'